<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Test</title>
    <script src="~/Scripts/jquery-3.4.1.min.js" rel="stylesheet"></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div class="register-form">
                <input type="text" placeholder="name">
                <input type="password" placeholder="password">
                <input type="text" placeholder="email">
                <button>create</button>
            </div>
            <div class="login-form">
                <input type="text" placeholder="username" value="TestUsername" id="txtUsername">
                <input type="text" placeholder="password" value="TestPassword" id="txtPassword">
                <button onclick="GetLogin();">login</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/PageScripts/index.js"></script>
</body>
</html>